{% extends 'base.html.twig' %}

{% block title %}Trailer index{% endblock %}

{% block body %}
    <h1>Trailer index</h1>


    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
    {% for data in datas %}
        <tr>
            <th scope="row">{{ data.id }}</th>
            <td>
                <a href="{{ path('app_trailer_show', {'id': data.id}) }}" class="btn btn-dark">show</a>
                <a href="{{ path('app_trailer_edit', {'id': data.id}) }}" class="btn btn-dark">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no trailer found</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <a href="{{ path('app_trailer_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
