{% extends 'base.html.twig' %}

{% block title %}Edit Trailer{% endblock %}

{% block body %}
    <h1>Edit Trailer</h1>

    {{ include('trailer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_trailer_index') }}" class="btn-dark">back to list</a>

    {{ include('trailer/_delete_form.html.twig') }}
{% endblock %}
