{% extends 'base.html.twig' %}

{% block title %}New Trailer{% endblock %}

{% block body %}
    <h1>Create new Trailer</h1>

    {{ include('trailer/_form.html.twig') }}

    <a href="{{ path('app_trailer_index') }}">back to list</a>
{% endblock %}
